<div class="card book-card">
	<header class="card-section book-card-title" ng-if="bookTile.book.author">
		<div class="book-card-title-name">{{bookTile.book.author.name}}</div>
		<div class="book-card-title-action" ng-if="!bookTile.isInCart && bookTile.borrower">
			<a ng-click="bookTile.addToCart(bookTile.book.id)" class="button tiny book-card-title-action-button">+</a>
		</div>
	</header>
	<div class="card-divider book-card-title">
		<div class="book-card-title-name">
			<a ui-sref="book({catalogId: bookTile.book.id})">{{bookTile.book.title}}</a>
		</div>
		<div class="book-card-title-action" ng-if="!(bookTile.book.author || bookTile.isInCart) && bookTile.borrower">
			<a ng-click="bookTile.addToCart(bookTile.book.id)" class="button tiny book-card-title-action-button">+</a>
		</div>
	</div>
	<div class="book-card-content">
		<img ng-src="{{bookTile.book.largeImageUrl || bookTile.book.imageUrl || bookTile.book.smallImageUrl}}" class="book-card-small-image">
		<div class="card-section">
			<div ng-show="bookTile.book.isbn">ISBN: {{bookTile.book.isbn}}</div>
			<div ng-show="bookTile.book.isbn13">ISBN13: {{bookTile.book.isbn13}}</div>
			<div ng-show="bookTile.book.pubYear">Published in: {{bookTile.book.pubYear}}</div>
			<div ng-show="bookTile.book.numPages">Number of pages: {{bookTile.book.numPages}}</div>
		</div>
	</div>
</div>
